
#natural_language{
    background-color: thistle;
}

#data_analysis {
    background-color: lavenderblush;
}

#web_programming{
    background-color: rgb(253, 255, 222);
}
#data_structure{
    background-color: lightskyblue;
}
#database {
    background-color: lightgreen;
}